@inject IToastService toastService
@inject IRepository repository
<GenericList TList="ServiceProviders">
    <Records>
        <table class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Nit</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Creation Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var forecast in ServiceProviders)
                {
                    <tr>
                        <td>@forecast.Nit</td>
                        <td>@forecast.Name</td>
                        <td>@forecast.Email</td>
                        <td>@forecast.Creationdate</td>
                        <td>
                            <button class="btn btn-outline-danger" @onclick="@(() => DeleteServiceProvider(forecast))">Delete</button>
                            <button class="btn btn-outline-primary" @onclick="@(() => OnValidSubmit.InvokeAsync(forecast))">Edit</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Records>
</GenericList>

<Confirmation @ref="confirmation" onConfirm="DeleteServiceProviderConfirmation"
              onCancel="onCancelConfirmation">
    <div>¿Do you want delete this record?</div>
</Confirmation>

@code {
    Confirmation confirmation;
    [Parameter] public List<ServiceProvider> ServiceProviders { get; set; }
    [Parameter] public int Id { get; set; }
    [Parameter] public EventCallback<ServiceProvider> OnValidSubmit { get; set; }




    void DeleteServiceProvider(ServiceProvider serviceprovider)
    {
        confirmation.Show();
        delserviceprovider = serviceprovider;

    }
    ServiceProvider delserviceprovider;
    async Task DeleteServiceProviderConfirmation()
    {
        var responeHttp = await repository.Delete($"api/ServiceProvider/{delserviceprovider.Id}");
        if (responeHttp.Error)
        {
            var body = await responeHttp.HttpResponseMessage.Content.ReadAsStringAsync();
            toastService.ShowError(body, "Error!");
        }
        else
        {
            ServiceProviders.Remove(delserviceprovider);
            confirmation.Hide();
            delserviceprovider = null;
            toastService.ShowSuccess("Record deleted successfully", "Congratulations!");
        }
    }



    void onCancelConfirmation()
    {
        confirmation.Hide();
        delserviceprovider = null;
    }
    }